@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.active-icon {
  color: #0866ff;
}

.active-tag {
  position: relative;
}

.active-tag::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 4px;
  background-color: #0866ff;
  position: absolute;
  top: 100%;
  left: 0px;
}

.avatar {
  position: relative;
}

.avatar::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.148);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.avatar:hover::after {
  display: initial;
}

.item-group:hover div {
  visibility: visible;
}

.image-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.242);
  display: none;
}

#pp:hover .image-avatar {
  display: block;
}

/* swipper */

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */